/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ============================================================= */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;

  @media screen and (min-width: $sidebar-screen-min-width) {
    height: 100vh;
    overflow-y: auto;               // Add scrollbar if the sidebar is too long
    position: fixed;
    padding-top: $masthead-height;
    max-width: 280px; // Slightly increased sidebar width
  }

  @include breakpoint($large) {
    @include span(2 of 12);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
    color: var(--global-text-color);
  }

  /* IMPORTANT: don't force width:100% on all sidebr images
     (this was stretching the avatar into an ellipse) */
  img {
    max-width: 100%;
    height: auto;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

/* Desktop / default avatar: always square -> always perfect circle */
.author__avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  box-sizing: border-box;

  /* Optional border ring on larger screens */
  @include breakpoint($large) {
    padding: 5px;
    border: 2px solid var(--global-border-color);
  }
}

.author__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* crops nicely */
  display: block;
  border-radius: 50%;
}

.author__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.4;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.author__name {
  margin: 0;
  font-weight: bold;
  font-size: $type-size-5;

  @include breakpoint($large) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-5;
}

.sidebar .author__desktop {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.author__pronouns,
.author__bio {
  margin: 0;
  font-size: $type-size-6;
  color: var(--global-text-color);
  margin-top: 5px;
  line-height: 1.5;
}

.author__urls-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-family: $sans-serif;
  z-index: 10;
  cursor: pointer;

  li:last-child {
    a { margin-bottom: 0; }
  }

  @include breakpoint($large) {
    display: block;
  }

  button {
    margin-bottom: 0;

    @include breakpoint($large) {
      display: none;
    }
  }
}

/* ==========================================================================
   Mobile layout (<= 850px): row layout + 40px circular avatar
   ========================================================================== */

@media (max-width: 850px) {

  .sidebar {
    max-width: 200px;     /* Adjust width to fit both image & name */
    display: flex;        /* Enables row layout */
    align-items: center;  /* Vertically aligns items */
    padding: 5px;
  }

  .author__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 0px;
    padding: 0;           /* remove desktop ring spacing */
    border: 0;            /* remove desktop ring on mobile */
  }

  .author__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }

  .author__name {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  /* Hide everything else */
  .sidebar p,
  .sidebar .author__bio,
  .sidebar .author__urls-wrapper,
  .sidebar .author__pronouns {
    display: none;
  }
}
